@media only screen and (max-width:910px){
    .menu-icon, .tool-panel{
        transform: scale(0.8);
    }

    .tool-img{
        transform: scale(0.8);
        margin-right:50% 
    }
}

@media only screen and (max-width:650px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .menu-icon{
        position: absolute;
        left:3vw;
        top: 0vh;
        transform: scale(0.6);
        
    }
   
    .tool-panel{
        position: absolute;
        transform: scale(0.7) rotate(-90deg);
        top:46vh;
        left:-45vw;
        width: 120%;
    }
    .tool-img{
        transform: scale(0.7) rotate(90deg);
        /* margin-right:50% */
    }
    .toolbar{
        background:none;
        height: 0vh;
    }

     /* animation */
  .add-animation{
    animation-name: stretch;
    animation-duration: 0.7s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    opacity: 1;
  }
  @keyframes stretch {
    0% {
      transform: scale(0) rotate(-90deg);
      opacity: 0;
      border-radius: 100%;
    }
  
    50% {
      transform: scale(0.7) rotate(-90deg);
      opacity: 0.5;
    }
    100% {
      transform: scale(0.7) rotate(-90deg);
  opacity: 1;
    }
  }

}